<ul class="pureCssMenu pureCssMenum pureBottomBorder">

    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">POS</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
            <li class="pureCssMenui">@Html.ActionLink("ProductCategory", "ProductCategory", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("ProductInfo", "ProductInfo", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Branch", "Branch", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Company Info", "Company", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Payment Type", "Tbl_PaymentType", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Customer Info", "CustomerInfo", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Bank", "Tbl_Bank", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("ProductCategory", "ProductCategory", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("ProductCategory", "ProductCategory", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("ProductCategory", "ProductCategory", "POS")</li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>


    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">Purchase</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
            <li class="pureCssMenui">@Html.ActionLink("Purchase", "ProductCategory", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Purchase Return", "ProductCategory", "POS")</li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>

    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">Sales</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
            <li class="pureCssMenui">@Html.ActionLink("Sales", "ProductCategory", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Sales Return", "ProductCategory", "POS")</li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
    <li class="pureCssMenui0">
        <a class="pureCssMenui0" href="#">
            <span class="members_menu_icon">Reports</span><![if gt IE 6]>
        </a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="pureCssMenum">
            <li class="pureCssMenui">@Html.ActionLink("ProductCategory", "ProductCategory", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("ProductInfo", "ProductInfo", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Branch", "Branch", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Company Info", "Company", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Payment Type", "PaymentType", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Customer Info", "CustomerInfo", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("Bank", "Tbl_Bank", "POS")</li>
            <li class="pureCssMenui">@Html.ActionLink("ProductCategory", "ProductCategory", "POS")</li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>
